        {% extends 'base.html.twig' %}

        {% block title %}
            Bienvenue sur le meilleur réseau d'appartement
        {% endblock %} 

        {% block header %}
            <h2>voici le header</h2>
        {% endblock %}    

        {% block body %}
                    <div class="container"> 
        <div class="jumbotron mt-3">
                            <h1 class="display-3">Bienvenue sur SynBNB</h1>
                            <p class="lead">Nous mettons en relation les voyageur et les proprietaire qui veule gagner de l'argent en proposant leur bien a la location </p>
                            <hr class="my-4">
                            <p>Vous etes voyageur et vous vouler voir ou vous pourez l'oger ? venez voir nos annonce ?</p>
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonce</a>
                            </p>
            </div>  
            <h2 class="h1 mt-3 mb-4">Nos appartement stars</h2>   
            <div class="row">
                <div class="col-md-4">
                    <div class="car bg-ligth mb-3">
                        <div class="card-header text-center">
                         3 chambre , <strong>49&euro; /nuit</strong><br>
                         <small>Pas encore noter</small>
                        </div>
                            <img src="https://placehold.it/1000x400" alt="Image de l'appartement" style="heigt: 200px; width: 100%; display: block">
                          <div class="card-body">
                                <h4 class="card-tittle">
                                    Appartement de ouf 
                                </h4>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur
                                         adipisicing elit. Soluta consequatur
                                          et quod illum. Commodi at delectus 
                                          dolores provident necessitatibus quis 
                                          corporis dolore, corrupti architecto 
                                          facere iusto nobis repellat deserunt 
                                          maiores! 
                                    </p>
                                    <a href="#" class="btn btn-secondary">Pour en savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car bg-ligth mb-3">
                        <div class="card-header text-center">
                         3 chambre , <strong>49&euro; /nuit</strong><br>
                         <small>Pas encore noter</small>
                        </div>
                        <img src="https://placehold.it/1000x400" alt="Image de l'appartement" style="heigt: 200px; width: 100%; display: block">
                          <div class="card-body">
                                <h4 class="card-tittle">
                                    Appartement de ouf 
                                </h4>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur
                                         adipisicing elit. Soluta consequatur
                                          et quod illum. Commodi at delectus 
                                          dolores provident necessitatibus quis 
                                          corporis dolore, corrupti architecto 
                                          facere iusto nobis repellat deserunt 
                                          maiores! 
                                    </p>
                                    <a href="#" class="btn btn-secondary">Pour en savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car bg-ligth mb-3">
                        <div class="card-header text-center">
                         3 chambre , <strong>49&euro; /nuit</strong><br>
                         <small>Pas encore noter</small>
                        </div>
                        <img src="https://placehold.it/1000x400" alt="Image de l'appartement" style="heigt: 200px; width: 100%; display: block">
                          <div class="card-body">
                                <h4 class="card-tittle">
                                    Appartement de ouf 
                                </h4>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur
                                         adipisicing elit. Soluta consequatur
                                          et quod illum. Commodi at delectus 
                                          dolores provident necessitatibus quis 
                                          corporis dolore, corrupti architecto 
                                          facere iusto nobis repellat deserunt 
                                          maiores! 
                                    </p>
                                    <a href="#" class="btn btn-secondary">Pour en savoir plus</a>
                        </div>
                    </div>
                </div>
            </div> 

                 <h2 class="h1 mt-3 mb-4">Nos propriétaire stars !</h2> 
                 <div class="row">
                    <div class="col">
                        <div class="card border-secondary mb-3">
                            <div class="card-body">
                                <h4 class="card-tittle">Redha Aoudia</h4>

                                 <hr>                       

                                   <div class="card-text">
                                    <img src="http://placehold.it/64x64" alt="Avatar de redha aoudia" class="float-left mt-3">
                                    <p>Lorem ipsum dolor sit amet, 
                                    consectetur adipisicing elit. Ad facere quisquam
                                    audantium, repellendus repudiandae 
                                    deleniti. Magni quos repudiandae
                                     facilis repellat dolore, architecto 
                                     provident fugit dolor. Beatae voluptatum 
                                     exercitationem rerum deleniti!</p>
                                     <a href="#" class="btn btn-success float-right">En savoir plus !</a>
                                   </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-secondary mb-3">
                            <div class="card-body">
                                <h4 class="card-tittle">Redha Aoudia</h4>

                                 <hr>                       

                                   <div class="card-text">
                                    <img src="http://placehold.it/64x64" alt="Avatar de redha aoudia" class="float-left mt-3">
                                    <p>Lorem ipsum dolor sit amet, 
                                    consectetur adipisicing elit. Ad facere quisquam
                                    audantium, repellendus repudiandae 
                                    deleniti. Magni quos repudiandae
                                     facilis repellat dolore, architecto 
                                     provident fugit dolor. Beatae voluptatum 
                                     exercitationem rerum deleniti!</p>
                                     <a href="#" class="btn btn-success float-right">En savoir plus !</a>
                                   </div> 
                            </div>
                        </div>
                    </div>
                 </div>    
       </div>


        {%  endblock %}


